@using Task.Application.Features.ViewModels.Employee
@model IEnumerable<EmployeeModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Manager</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.FullName</td>
                <td>@emp.Salary</td>
                <td>@emp.DepartmentName</td>
                <td>@emp.ManagerName</td>
                <td>
                    <button class="btn btn-sm btn-warning" onclick="editEmployee(@emp.Id)">Edit</button>
                    <button class="btn btn-sm btn-danger" onclick="deleteEmployee(@emp.Id)">Delete</button>
                    @if (emp.ManagerId is null)
                    {
                        @Html.ActionLink("Employees Tasks", "Index", "Task", new { id = emp.Id }, new { @class = "btn btn-info" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
